.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        z-index: 200;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

    } 
    
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 100;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1); // c какой скоростью применяются эффекты

        //transform: scale(80);//

    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 150;

        opacity: 0; // скрываем страницу с ннавигацией пока не нажал кнопку
        width: 0; // скрываем 
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            padding: 1rem 2rem;
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    
    //functtionality

    }
    &__checkbox:checked ~ &__background { // включает бэкграунд когда кликаешь по кружочку-кнопку
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav { // дает нав на бэкграунд
        opacity: 1;
        width: 100%;
    }

    //icon
    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
            
        }

        &::before { top: -.8rem;}
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem; // раздвигаются при ховере
    }
    &__button:hover &__icon::after {
        top: 1rem // раздвигаются при ховере
    }

    &__checkbox:checked + &__button &__icon { // когда чекбокс выбран, плюсом берем сиблинг элемент (кнопку) и берем ее дочерний элемент иконку (три полосочки)
        // удаляем центральную полоску и две оставшиеся переворачивам чтобы получился Х
        background-color: transparent; //удаляем центр 
    }


    &__checkbox:checked + &__button &__icon::before { // поворот первой полоски
       transform: rotate(135deg); // можно повернуть на 45 и 45, но 135 и 135 круче вертятся
       top: 0; // вернуть палки на место а то криво
    }

    &__checkbox:checked + &__button &__icon::after { // поворот второй полоски
        transform: rotate(-135deg);
        top: 0;
    }

}